<footer class="footer__section">

    <button class="button-arrow button-arrow__footer">
        <a href="#"><img class="button-arrow-img " src="assets/images/ico-arrow.svg" alt="boton flecha"></a>
    </button>

    <div class="footer__wrap">

    <nav class="footer__options">
        <a class="footer__link" href="#">articles</a>
        <a class="footer__link" href="#">books</a>   
        <a class="footer__link" href="#">events</a> 
        <a class="footer__link" href="#">reasons</a>
        <a class="footer__link" href="#">tips</a>
    </nav>

    <nav class="footer__rrss">
        <a class="footer__link" href="#">Twitter</a>
        <a class="footer__link" href="#">Instagram</a>
        <a class="footer__link" href="#">Mastodon.social</a>
    </nav>
    
    <div class="copy">
        <small class="copy__element">©2017</small>
        <small class="copy__element">we <span class="copy__hearth">❤︎</span> components</small>
        
    </div>

    </div>
</footer>