<header class="hero">

    <div class="container__title__hero">

        <button class="button__hero">
            <img class="button-img__hero" src="assets/images/ico-menu.svg" alt="">
        </button>
        <h1 class="title__hero">anonymous proxy</h1>
        <p class="claim" >In hac habitasse platea dictumst.</p>
        <div></div>

        <button class="button-arrow__hero">
            <img class="button-arrow-img__hero" src="assets/images/ico-scroll-down.svg" alt="">
        </button>
    </div>

</header>