<main class="main-column">
    <section class="looking">
        <p class="claim__looking">insomnia tips</p>
        <h2 class="title__main">looking through a window</h2>
        <p class="text__main">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>
        
        <div class="button__box button__go">
                <button class="button__main">go</button>
        </div>
    </section>

    <partial src="_sectionReasons.html"></partial>

</main>

