<section class="Reasons">

    <h2 class="title__main">3 reasons to purchase</h2>

        <h3 class="subtitle__main">ut sed metus</h3>
            <p class="text__main">lorem ipsum dolor sit amet, consecteur.</p>

        <h3 class="subtitle__main">curabitur ac erat</h3>
            <p class="text__main">mauris mattis urna quis lorem molestie.</p>
        
        <h3 class="subtitle__main">morbi dictum</h3>
            <p class="text__main">aliquam in dolor et dolor tincidunt.</p>
        <div class="button__box">
            <button class="button__main">more reasons</button>
        </div>
</section>