<section class="Reasons">

    <h2 class="title__main">3 reasons to purchase</h2>

        <h3 class="subtitle__main">Ut sed metus</h3>
            <p class="text__main">lorem ipsum dolor sit amet, consecteur.</p>

        <h3 class="subtitle__main">Curabitur ac erat</h3>
            <p class="text__main">mauris mattis urna quis lorem molestie.</p>
        
        <h3 class="subtitle__main">Morbi dictum</h3>
            <p class="text__main">aliquam in dolor et dolor tincidunt.</p>
        <div class="button-box__reasons">
            <button class="button__reasons">
                <a class="button__reasons" href="#">more reasons</a>
            </button>
        </div>
</section>