<section class="Reasons grid-box">

    <div class="main-column">

    <h2 class="item item-title" class="title__main">3 reasons to purchase</h2>

    <div class="item item-text">
        <h3 class="subtitle__main">Ut sed metus</h3>
            <p class="text__main">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>

    <div class="item item-text">
        <h3 class="subtitle__main">Curabitur ac erat</h3>
            <p class="text__main">Mauris mattis urna quis lorem molestie.</p>
    </div>

    <div class="item item-text">
        <h3 class="subtitle__main">Morbi dictum</h3>
            <p class="text__main">Aliquam in dolor et dolor tincidunt.</p>
    </div>

    <div class="item item-button">
        <div class="button-box__reasons">
            <button class="button__reasons">
                <a class="button__reasons" href="#">more reasons</a>
            </button>
        </div>
    </div>
    
    </div>

</section>