.footer__section {
    background-color: $bottomSection;
    text-align: center;
}

.footer__wrap {
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;            
    }
    @media all and (min-width:1200px) {
    }
}
.footer__options {
    padding-top: 60px;
    padding-bottom: 30px;
    @media all and (min-width:768px) {
        padding-top: 22px;
        display: flex;
        flex-direction: column;
        order: 2;
        text-align: left;
        padding-bottom: 45px;
    }
}
.footer__link {
    text-decoration: none;
    color: $snowwhite;
    text-transform: uppercase;
    display: block;
}
.footer__rrss {
    padding-bottom: 30px;
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: column;
        order: 3;
        text-align: left;
        padding-top: 22px;

    }
}
.copy {
    padding-bottom: 45px;
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: column;
        order: 1;
        text-align: left;
        padding-top: 22px;
    }

}
.copy__element {
    color: $snowwhite;
    display: block;
}
.copy__hearth {
    color: $buttonOrange;
}