.hero {
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: top;
    width: 100vw;
    height: 100vh;
    @media all and (min-width:1200px) {
        background-size: 100%;
    }
}
.container__title__hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title__hero {
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    color: $snowwhite;
    display:block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 284px;
    @media all and (min-width:768px) {
        font-size: 80px;
        line-height: 106px;
        margin-top: 284px;
        margin-bottom: 20px;
    }
    @media all and (min-width:1200px) {
        font-size: 100px;
        line-height: 100px;
        width: 50%;
    }
}
.claim {
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    display:block;
    color: $snowwhite;
    margin:0;
    @media all and (min-width:768px) {
        font-size: 24px;
    }
}
