// SECTION LOOKING
.looking {
    background-color: $snowwhite;
}
.main-column {
    max-width: 290px;
    margin: auto;
    @media all and (min-width:768px) {
        max-width: 690px;
    }
    @media all and (min-width:1200px) {
        max-width: 1100px;
    }
}

// SECTIONS FONTS
.title__main {
    font-size: 24px;
    font-weight: 700;
}
.text__main {
    font-size: 18px;
    .subtitle__main {
        font-weight: 700;
    }
}
// SECTION LOOKING

.claim__looking, .title__main {
    text-transform: capitalize;
}
.claim__looking {
    font-size: 14px;
    font-weight: 400;
    color: #8ccbea;
}