// SECTION
.Reasons {
    background-color: $colorReasons;
}
.item {
    border: solid 1px blue;
    padding: 20px;
}
.grid-box {
    text-align: center;
    @media all and (min-width:768px) {
        display: grid;
    }
}
.item-button, .item-title {
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width:768px) {
        display: grid;
        grid-column: span 3;
    }
}

.item-button {
    padding-bottom: 60px;
    @media all and (min-width:768px) {
        padding-bottom: 50px; 
    }
}